@import 'variables';

.header {
  padding: $spacing-md;

  &__start {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    flex-wrap: wrap;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--contrast-color);
    margin-right: $spacing-md;
  }

  &__end {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  @media (max-width: $breakpoint-md) {
    &__title {
      font-size: 1rem;
      margin-right: $spacing-sm;
    }

    &__start {
      gap: $spacing-sm;
    }
  }
}
