.header {
  padding: 16px;

  &__start {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--contrast-color);
    margin-right: 1rem;
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 1rem;
      margin-right: 0.5rem;
    }

    &__start {
      gap: 0.5rem;
    }
  }
}
